/* Colors */

.battlebro {
    color: darkorange;
}

.bowslinger {
    color: darkolivegreen;
}

.hippy {
    color: forestgreen;
}

.knight-of-tushuze {
    color: palegoldenrod;
}

.minstrel {
    color: royalblue;
}

.mixologist {
    color: lightcoral;
}

.neerdowell {
    color: slategray;
}

.ragesmasher {
    color: darkred;
}

.runegoon {
    color: cadetblue;
}

.verbpriest {
    color: darkgoldenrod;
}

.wizcaster {
    color: darkmagenta;
}

.zoomaster {
    color: darkgreen;
}