@import "bootstrap/scss/bootstrap.scss";

/* Selectors */


body, #root {
    min-height: 100%;
}

h1, h2, h3 {
    font-family: grenze;
}

/* Custom Bootstrap */

.row-reverse-sm {
    flex-direction: row;
}

.session-form-box {
    width: 100%;
}

.form-submit-button {
    width: 100%;
}

@include media-breakpoint-up(md) {
    html, body, #root {
        height: 100%;
    }
    
    .row-reverse-sm {
        flex-direction: row-reverse;
    }

    .form-submit-button {
        width: auto;
    }
}
